body {
background-color: #d3d3d3 ;

}

.A {
background-color: white;
height: 500px;
width: 50vw;
border: black 10px dotted;
flex-direction: column;
justify-content: center;
display: flex;
}

.B {
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.C {
background-color: rgb(175, 52, 8);
height: 100px;
width: 30%;
}

.D {
background-color: rgb(10, 150, 10);
font-size: 30px; color: white;
padding: 50px;
margin-top: 50px;
margin-left: 50px;
}